.title-4
  text-transform: uppercase
  font-weight: bold
  font-size: 18px
  margin-bottom: 16px
  
.registration-form
.success-message
  display: block
  width: 500px
  margin: auto

.full-width
   width: 100%  