
<h4 class="title-4">
  Create a new account
</h4>
<div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit($event, registrationForm)" novalidate>
    <div class="form__row">
      <label for="firstName">First name:</label>
      <div class="form__input">
        <input id="firstName"
          (change)="clearControlValidation('firstName')"
          (focus)="clearControlValidation('firstName')"
        formControlName="firstName" type="text">
        <div class="message message__error" *ngIf="isFormSubmitted && registrationForm.controls['firstName'].invalid && registrationForm.controls['firstName'].untouched">
          First name is required
        </div>
      </div>
    </div>
    <div class="form__row">
      <label for="lastName">Last name:</label>
      <div class="form__input">
        <input id="lastName"
          (change)="clearControlValidation('lastName')"
          (focus)="clearControlValidation('lastName')"
        formControlName="lastName" type="text">
        <div class="message message__error" *ngIf="isFormSubmitted && registrationForm.controls['lastName'].invalid && registrationForm.controls['lastName'].untouched">
          Last name is required
        </div>
      </div>
    </div>
    <div class="form__row">
      <label for="email">Email:</label>
      <div class="form__input">
        <input id="email"
          (change)="clearControlValidation('email')"
          (focus)="clearControlValidation('email')"
        formControlName="email" type="email">
        <div class="message message__error" *ngIf="isFormSubmitted && registrationForm.controls['email'].invalid && registrationForm.controls['email'].untouched">
        <span *ngIf="registrationForm.controls['email'].hasError('required')">
          Email is required
        </span>
        <span *ngIf="registrationForm.controls['email'].hasError('pattern')">
          Email is not Valid
        </span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <label for="password">Password:</label>
      <div class="form__input">
        <input id="password"
          (change)="clearControlValidation('password')"
          (focus)="clearControlValidation('password')"
        formControlName="password" type="text">
        <div class="message message__error" *ngIf="isFormSubmitted && registrationForm.controls['password'].invalid && registrationForm.controls['password'].untouched">
          <span *ngIf="registrationForm.controls['password'].hasError('required')">
            Password is required
          </span>
          <span *ngIf="registrationForm.controls['password'].hasError('pattern')">
            Password is not Valid
          </span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <input type="submit" value="submit">
    </div>
  </form>
</div>
<div *ngIf="showSuccessMessage">
    Thank you, {{user?.firstName}}! You successfully registered go to your email to activate account
</div>