.title-4
  text-transform: uppercase
  font-weight: bold
  font-size: 18px
  margin-bottom: 16px
  
.aside
  padding-right: 18px
  float: left

table
  border-collapse: collapse
  border: 1px solid gray
  margin-top 8px

th, td
  border: 1px solid gray
  text-align: left
  padding: 15px

th
  font-weight: bold