<!-- <md-card class="login-form">
  <form [formGroup]="authorizationForm">
    <md-input-container class="full-width">
      <input mdInput formControlName="email" placeholder="Email">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput formControlName="password" placeholder="Password">
    </md-input-container>
      <button md-raised-button type="submit">Login</button>
  </form>
</md-card> -->
<div>
  {{message}}
  <button md-raised-button (click)='logIn()'>LogIn</button>
  <button md-raised-button (click)='logOut()'>LogOut</button>
</div>