<header class="header">
  <nav class="nav-main">
    <ul>
      <li *ngFor="let item of navItems"
          class="nav-main__item">
        <a [routerLink]="item.link"
           routerLinkActive="nav-main__item-link--active"
           class="nav-main__item-link">
           {{item.name}}
        </a>
      </li>  
    </ul>
  </nav>
  <nav class="nav-auth">
    <ul>
      <li class="nav-auth__item">
        <a routerLink="registration"
           routerLinkActive="nav-auth__item-link--active"
           class="nav-auth__item-link">
           Sign Up
        </a>
      </li>
      <li class="nav-auth__item">
        <a
          routerLink="/login"
          class="nav-auth__item-link">
<!--         <a [class.nav-auth__item-link--active]="isLoginFormShown"
           (click)="showLoginForm($event)"
           class="nav-auth__item-link"> -->
          Login
        </a>
      </li>
    </ul>
  </nav>
<!--   <div *ngIf="isLoginFormShown">
    <app-authorization (onLoginFormHide)="HideLoginForm($event)"></app-authorization> 
  </div> -->
</header>
<main class="wrapper">
  <app-breadcrumbs></app-breadcrumbs>
  <router-outlet></router-outlet>
</main>